{
  "openapi": "3.1.0",
  "info": {
    "title": "Workspace API",
    "version": "2.2.0",
    "description": "REST API for managing files within a Linux workspace directory. All requests must be authenticated using a Bearer token provided in the Authorization header."
  },
  "servers": [
    {
      "url": "https://workspace.foliole.eu",
      "description": "Workspace Endpoint"
    }
  ],
  "paths": {
    "/files": {
      "get": {
        "summary": "List all files recursively",
        "description": "Recursively lists all files within the workspace directory, returning relative file paths. Useful for establishing current workspace state.",
        "operationId": "listFiles",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of files returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Invalid token"
          }
        }
      },
      "post": {
        "summary": "Create a new file",
        "description": "Creates a new file in the workspace. The file path must not already exist. Optionally, the full file content can be specified at creation. Content should be passed as a complete string—partial initialization is not supported.",
        "operationId": "createFile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Invalid token"
          },
          "409": {
            "description": "Conflict: File already exists"
          }
        }
      },
      "delete": {
        "summary": "Delete a file",
        "description": "Deletes an existing file by path. This operation is irreversible. Use with care when managing workspace structure.",
        "operationId": "deleteFile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Invalid token"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/files/{path}": {
      "get": {
        "summary": "Read a file",
        "description": "Reads and returns the full content of a specified file from the workspace. Useful for inspecting or processing current file contents.",
        "operationId": "readFile",
        "security": [
          {
            "GPTSecret": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Invalid token"
          },
          "404": {
            "description": "File not found"
          }
        }
      },
      "put": {
        "summary": "Update an existing file",
        "description": "Replaces the full content of an existing file with new content. Only full file content is accepted—diffs or partial content updates are not supported.",
        "operationId": "updateFile",
        "security": [
          {
            "GPTSecret": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Invalid token"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/files/rename": {
      "post": {
        "summary": "Rename a file",
        "description": "Renames a file by changing its path. This is equivalent to an atomic move operation. Source and target paths must be distinct and valid.",
        "operationId": "renameFile",
        "security": [
          {
            "GPTSecret": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "old_path",
                  "new_path"
                ],
                "properties": {
                  "old_path": {
                    "type": "string"
                  },
                  "new_path": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File renamed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "old_path": {
                      "type": "string"
                    },
                    "new_path": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Invalid token"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/files/move": {
      "post": {
        "summary": "Move a file",
        "description": "Moves a file from one path to another location in the workspace directory. Useful for refactoring or organizing files.",
        "operationId": "moveFile",
        "security": [
          {
            "GPTSecret": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "src_path",
                  "dest_path"
                ],
                "properties": {
                  "src_path": {
                    "type": "string"
                  },
                  "dest_path": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File moved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "src_path": {
                      "type": "string"
                    },
                    "dest_path": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Invalid token"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns the health status of the workspace API service. Can be used for automated monitoring or testing connectivity.",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/commit": {
      "post": {
        "summary": "Commit changes to Git repository",
        "description": "Commits all current workspace changes to the Git repository. The commit message must summarize the change clearly and follow best practices (e.g., 'feat:', 'fix:', 'refactor:').",
        "operationId": "commitChanges",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Commit message for Git"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Changes committed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "commit_message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Invalid token"
          },
          "500": {
            "description": "Git commit failed"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {}
  }
}